#nav-bar {
    height: 10vh;
    width: 100vw;
    background-color: #73022A;
    display: flex; /* Row / column elements */
    flex-direction: row;
    line-height: 10vh; /* vertical centering text */
}

/* child element selector > */
#nav-bar > a {
    color: #fefefe;
    margin: 0px 17px 0px 0px;
    text-decoration: none;
    transition: 0.2s ease color;  /* soft color change*/
    font-weight: 400;
    font-size: 20px;
}

#nav-bar > a:hover {
    color: #CC5F4E;
    font-weight:bold;
}

#nav-bar-logo {
    height: 5vh;
    margin-right: 10px;
    margin-left: 50px;
    padding: 2.5vh 0 2.5vh 0; /* vertical center non-text */
}